body {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  .card {
    border: 1px solid #eaeaea;
    border-radius: 15px;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    width: 300px;
  }
  
  .card__icon {
    align-self: center;
    fill: blue;
    order: 1;
    width: 100px;
  }
  
  h2 {
    order: 2;
  }
  
  p {
    order: 3;
  }